[submodule "admin"]
	path = admin
	url = git@github.com:uber/ringpop-admin.git
[submodule "lang/go"]
	path = lang/go
	url = git@github.com:uber/ringpop-go.git
[submodule "lang/node"]
	path = lang/node
	url = git@github.com:uber/ringpop-node.git
[submodule "ui"]
	path = ui
	url = git@github.com:uber/ringpop-ui.git
